# Working with DataFrame Part2

## Outliers Exercise

1. Import pandas and numpy

In [1]:
# Imports
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

We create a data frame

In [2]:
# First we'll seed the numpy generator
np.random.seed(123)

#Next we'll create the dataframe
df = DataFrame(np.random.randn(1000,4))

In [3]:
#Show the df
df.head()

          0         1         2         3
0 -1.085631  0.997345  0.282978 -1.506295
1 -0.578600  1.651437 -2.426679 -0.428913
2  1.265936 -0.866740 -0.678886 -0.094709
3  1.491390 -0.638902 -0.443982 -0.434351
4  2.205930  2.186786  1.004054  0.386186

In [4]:
# Lets describe the data
df.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.007502     0.039160    -0.010286     0.024285
std       0.977024     0.973484     1.012230     0.970421
min      -3.167055    -2.920029    -3.801378    -3.231055
25%      -0.662012    -0.636160    -0.687717    -0.599195
50%      -0.024843     0.062549     0.007035     0.038718
75%       0.613950     0.672448     0.664586     0.683228
max       3.050755     2.850708     2.766603     3.571579

**Note:** We can see that in column 0 the max and min absolute values are around 3

In [5]:
# Lets select the first column (it will be a series)
col = df[0]

We can check which values in the column are greater than 3, for instance.

In [6]:
# check the values
col[np.abs(col)>3]

235   -3.167055
910    3.050755
Name: 0, dtype: float64

So we now know that in column[0], rows 235 and 910 have values with abs > 3

### How about all the columns?

We can use the **any** method. It returns whether any element is True, potentially over an axis. Axis 0 by default.

In [7]:
# We can use the "any" method
filtered_df = df[(np.abs(df)>3).any(1)]
filtered_df

            0         1         2         3
48   0.199582 -0.126118  0.197019 -3.231055
182  0.272735  0.425336 -0.230904  3.571579
235 -3.167055 -0.713989 -1.112364 -1.254184
409  0.151037  0.069403 -3.801378 -1.127172
423  0.231228  1.076113 -3.587494  1.148869
510  0.506533  0.644099 -3.066988 -1.349275
910  3.050755  0.296552 -0.481843  0.930787

### Remove outliers

First we isolate the index of rows where we found the outlires

In [8]:
# grab the index
rows = filtered_df.index
len(rows)

7

Second we drop the drows

In [9]:
# drop the rows
df.drop(rows, inplace=True)

In [10]:
# check on the df
df.shape

(993, 4)

In [11]:
## Exercises!