In [1]:
import pandas as pd

# THis will be a quick lesson on cross-tabulations, which are basically a special case of pivot-tables

In [12]:
df = pd.DataFrame({'sample':[1,2,3,4,5,6],
                    'sex':['male', 'male','female','female','male','female'],
                    'diagnosis':['Positive','Positive','Negative','Positive','Negative','Negative']})

In [13]:
# Show
df

   sample     sex diagnosis
0       1    male  Positive
1       2    male  Positive
2       3  female  Negative
3       4  female  Positive
4       5    male  Negative
5       6  female  Negative

In [14]:
# Now we can create a cross-tabulation table, which is basically just a frequency table
pd.crosstab(df.sex, df.diagnosis, margins=True)

diagnosis  Negative  Positive  All
sex
female            2         1    3
male              1         2    3
All               3         3    6

In [ ]:
# And thats about it as far as it's general use.
# We'll use it in examples in the final projects!